{% extends 'base.html.twig' %}

{% block body %}

{% include 'includes/messages.html.twig' %}

{# {% if usersToFollow|length %}
  <p> You are currently not following anyone, you can find these users interesting </p>
  {% for userToFollow in usersToFollow %}
    <a href="{{ path('following_follow',{'id':userToFollow.id})}}">@{{ userToFollow.fullName }}</a>

  {% endfor %}
{% else  %} #}
<h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
  {% for post in posts %}
    {% if app.user %}
      <small class="d-block text-right mt-3">
          {% if is_granted('edit',post) %}
            <a href="{{ path('micro_post_edit',{'id':post.id}) }}">Edit</a>
          {% endif %}
          {% if is_granted('edit',post) %}
            <a href="{{ path('micro_post_delete',{'id':post.id}) }}">Delete</a>
          {% endif %}
      </small>

    {% endif %}
      <a href="{{ path('micro_post_post',{'id':post.id})}}">
     {{ include('micro-post/raw-post.html.twig',{'post':post}) }}
     </a>

  {% endfor %}
{# {% endif  %} #}

{% endblock %}
