{% set name = user.fullName|trans %}

<h3> Welcome to App!! </h3>

<p>Hello {{name}} !! You've registered into the app!!</p>
<p>Please confirm account by clicking This
<a href="{{ url('security_confirm',{'token':user.confirmationToken})}}">{{ 'confirm'|trans}} </a>
</p>
<p>
To login go to <a href="{{ url('security_login') }}"> {{ 'Login Page'|trans }} </a>
</p>
<p>
Thanks
</p>
